@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  margin: 20px auto;
  min-width: 500px;
  width: 500px;
  border: 1px solid black;
  background: cornsilk;
}

input[type=text] {
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  width: 90%;

}

.item-list {
  padding: 5px 30px 0;
  word-wrap: break-word;
}